@model PhotoGallery.Client.WebApp.Models.PhotoViewModel.PhotoDeleteModel

<h2>Delete?</h2>

<form id="photoDeleteForm">
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.PhotoId, new { @id = "photoId" })
        @Html.HiddenFor(model => model.ImagePath)

    </div>

</form>
     



       



