@using PhotoGallery.Client.WebApp.Helper
@model PageableData<PhotoGallery.Client.WebApp.Models.PhotoViewModel.PhotoModel>

<div class="pagination col-md-offset-1">
    @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("AllPhotos", new { page = x }))
</div>


<div id="contentPlace">
      @Html.Partial("PhotoCollection",Model.List)
</div>

@section scripts {
    <script type="text/javascript">
       
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
           
        });
    </script>
    }

