@using PhotoGallery.Client.WebApp.Helper
@model PageableData<PhotoGallery.Client.WebApp.Models.PhotoViewModel.PhotoModel>


<div id="contentPlace">
      @Html.Partial("PhotoCollection",Model.List)
</div>

<div class="pagination col-md-offset-1">
    @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("AllPhotos", new { page = x, userId = Model.UserId }))
</div>


@section scripts {
    <script type="text/javascript">

        function setRating(rating, photoId) {
            $.ajax({
            type: 'POST',
            url: '@Url.Action("SetPhotoRating",new {page=Model.PageNo,userId=Model.UserId })',
                data: {                
                rating: rating,
                photoId: photoId,                           
                },
                success: function () {
                    window.location.reload();
                }
            });
        }

      
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });

           
        });
    </script>
}

