<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPhotoGalleryService_IPhotoGalleryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2444/PhotoGalleryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhotoGalleryService_IPhotoGalleryService"
                contract="PhotoGalleryServ.IPhotoGalleryService" name="BasicHttpBinding_IPhotoGalleryService_IPhotoGalleryService" />
        </client>
    </system.serviceModel>
</configuration>